@import "../sass/abstracts/vars/headings";
 @import "../sass/abstracts/vars/colors";
 @import "../sass/abstracts/vars/media-screen";
 
 /**
 * Import heading, media-screen & colors
 *
 * Footer: style guides for global
 */

#footer{
  background-color: $primary;
  padding: 8rem 0 0;
  @media screen and (max-width:$tablet-width) {
    padding: 8rem 2rem;
  }
  p{
    font-size:12px;
    color:$white;
  }
  h3{
    font-size:$footer-sub-menu;
    color:$white;
    border-bottom:0;
    line-height: 1;
  }
  .image{
    margin-bottom:1.5rem;
    @media screen and (max-width:$tablet-width) {
      padding:0;
    }
    img{
      width:50%;
      @media screen and (max-width:$tablet-width) {
        width:75%;
      }
    }
  }
  .link-list{
    h6{
      color:$white;
      border-bottom: 0;
    }
    ul{
      margin-top:.5rem;
      li{
        @media screen and (max-width:$tablet-width) {
          margin: 0.5rem 0;
        }
        a{
          color: $white;
          font-size: $footer-sub-menu;
          padding-left: 0;
          &::before{
            content:" ";
          }
          &:hover{
            border-bottom: 0;
          }
        }
      }
    }
  }
  .separator{
    hr{
      border-color:$medium-grey;
      margin:2rem 0;
    }
  }
  .copy-right{
    p{
      font-size:12px;
      color:$white;
    }
  }
  .rich-text{
    @media screen and (max-width: $screen-md) {
      padding-left:0;
    }
  }
}