@import "../sass/abstracts/vars/";

#header {
  color: $white;
  > .container {
    width: 100%;
    max-width: 100%;
    @include respond-to(tablet-to-laptop) {
      padding: 0 3rem;
    }
  }
  a {
    color: $white;
    font-size: $navigation-font-basic;
  }
  .link {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    &.skip-to-content {
      margin-top: 0;
      padding-top: 0;
      padding-left: 0;
    }
  }

  .link-list {
    > .component-content {
      li {
        a {
          &::before {
            content: "";
          }
          &:hover {
            border: 0;
          }
        }
      }
    }
    ul {
      @include respond-to(desktop-and-above) {
        float: right;
      }
      li {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
  select,
  option {
    font-size: 1.4rem;
    background-color: $white;
    color: $brand-color;
    padding: 0.7rem;
    &:focus {
      border: 1px solid transparent;
      box-shadow: none;
    }
  }
  img {
    max-width: 90px;
    @include respond-to(below-laptop) {
      max-width: 60px;
    }
  }
  .navigation.navigation-main {
    .component-content > nav {
      .rel-level1 {
        margin: 0 1rem;
      }
    }
  }
  .navigation.navigation-main .rel-level1.submenu > .navigation-title {
    a {
      &::after {
        content: "";
      }
    }
  }
  .navigation {
    &.navigation-main {
      .rel-level1 {
        &:hover {
          .rel-level2 {
            background: white;
            .navigation-title {
              span {
                color: black;
              }
            }
          }
        }
        > ul {
          box-shadow: 1px 3px 3px 1px #dee2e6;
        }
        &.last {
          a {
            padding-right: 0;
          }
        }
        > .navigation-title {
          a {
            &:hover {
              border: 0;
            }
            border: 0;
            margin:0;
          }
        }
      }
      .component-content {
        > nav {
          position: static;
        }
      }
    }
    nav {
      > ul {
        float: right;
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }
    }
    margin: auto 0 0 auto;
  }

  .search-bar-default {
    margin: auto;
    button#search-btn {
      padding: 0.7rem;
      background-color: $primary-light;
      border: 1px solid $primary-light;
      outline: 0;
      box-shadow: none;
      i {
        font-size: $small;
        padding-left: 0.3rem;
      }
    }
    input {
      padding: 0.7rem;
      background-color: $primary-light;
      border: 1px solid $primary-light;
      &::placeholder {
        color: $white;
        font-size: $small;
      }
      &:focus {
        border: none;
      }
    }
    @include respond-to(below-laptop) {
      padding: 0 3rem 0 2rem;
    }
  }

  @include respond-to(laptop-to-desktop) {
    .container {
      .row > * {
        max-width: 960px;
      }
    }
    a {
      font-size: 1.2rem;
    }
  }

  #top-nav {
    @media screen and (max-width: $screen-md) {
      display: none;
    }
    .link-list {
      .first {
        display: none;
        @include respond-to(laptop-and-above) {
          display: inline-block;
        }
      }
      @include respond-to(below-laptop) {
        flex: 1;
      }
      .last {
        @include respond-to(below-laptop) {
          display: block;
          text-align: right;
        }
      }
    }
    &.container {
      @include respond-to(below-laptop) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  #bottom-nav {
    padding: 1rem;
    .link {
      @include respond-to(below-laptop) {
        text-align: right;
        margin: 0;
        a {
          font-size: 0;
        }

        &::before {
          content: url("../../../public/hamburger-icon.svg");
          display: inline-block;
        }
      }
    }
    .image {
      padding-bottom: 10px;
    }
    &.container {
      @include respond-to(below-laptop) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  #bottom-nav {
    .component-content {
      > .row {
        align-items: center;
      }
    }
    .component.image {
      a {
        img {
          width: auto;
          position: relative;
          bottom: 1.4rem;
          margin-bottom: -1.9rem;

          @media screen and (max-width: $screen-md) {
            width: 100%;
            top: -.5rem;
          }
        }
      }
    }
    .navigation.navigation-main {
      .menu-mobile-navigate-wrapper {
        @media screen and (max-width: $screen-md) {
          position: relative;
        }
        @media screen and (max-width: $screen-md) {
          input[type="checkbox"]:not(:checked) ~ .menu-humburger {
            background-image: url(../images/menu-mobile.svg);
            background-repeat: no-repeat;
            z-index: 4;
          }
          input[type="checkbox"]:checked ~ .menu-humburger {
            background-image: url(../images/close.png);
            z-index: 4;
            background-size: cover;
            top:-3.2rem;
            right: 2rem;
            rotate: 45deg;
            height: 35px;
            width: 35px;
          }
          input[type="checkbox"]:checked ~ .component-content > nav {
            display: block;
          }
          input[type="checkbox"]:not(:checked) ~ .component-content > nav {
            display: none;
          }
        }
        .menu-humburger {
          display: none;
          @media screen and (max-width: $screen-md) {
            display: block;
            height: 25px;
            width: 25px;
            float: right;
            position: absolute;
            top: -4.5rem;
            right: -15rem;
          }
          @media screen and (max-width: $screen-xs) {
            top: -3.2rem;
            right: 0rem;
          }
        }
        .menu-mobile-navigate {
          display: block;
          position: absolute;
          height: 25px;
          width: 25px;
          z-index: -1;
          top: -3.5rem;
          right: 4rem;
        }
        nav {
          @media screen and (max-width: $screen-md) {
            position: absolute;
            top: -6.2rem;
            right: -3rem;
            background: $white;
            width: 90%;
            z-index: 3;
            padding-top: 8rem;
            padding-bottom: 8rem;
            display: none;
            background-color: $brand-color;
            box-shadow: -1px -2px 8px 4px $primary-light;
          }
          @media screen and (max-width: $screen-sm-max) {
            top: -6.2rem;
            right: -22.9rem;
          }
          @media screen and (max-width: $tablet-width) {
            right: -21.9rem;
            top: -7.9rem;
          }
          @media screen and (max-width: $screen-xs) {
            top: -6.2rem;
            right: -2.9rem;
          }
          ul {
            @media screen and (max-width: $screen-md) {
              padding: 1rem;
            }
            li.rel-level1 {
              @media screen and (max-width: $screen-md) {
                width: 100%;
                margin: 0.7rem 0;
                background-color: $primary-light;
                border-radius: 5px;
              }
              a {
                @media screen and (max-width: $screen-md) {
                  padding: 1rem;
                }
                span {
                  @media screen and (max-width: $screen-md) {
                    color: $white;
                    font-family: poppins-bold;
                    font-size: $small;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.editing-mode {
  #header {
    .link-list {
      h3 {
        display: none;
      }
    }
    .navigation.navigation-main {
      .component-content > nav {
        .rel-level1 {
          margin: 0 0.5rem;
          > .navigation-title {
            a {
              padding: 0.8rem 0.8rem 2.5rem;
              margin:0;
            }
          }
          &.submenu {
            &:hover a {
              span {
                color: $black;
              }
            }
          }
        }
      }
    }
    #top-nav {
      .link-list {
        float: right;
      }
    }
  }
}
