@import "../sass/abstracts/vars/headings";
@import "../sass/abstracts/vars/colors";
@import "../sass/abstracts/vars/media-screen";

/**
 * Import heading & colors
 *
 * Header: style guides for global
 */

 
#header{
  background-color: $primary;
  padding: 2rem 0;
  #top-nav{
    .search-bar-default{
      .search-bar{
        .input-group{
          height:3.7rem;
          border: 1px solid $grey-black;
          border-radius: 3px;
          #search-btn{
            border-color:#6e7f75;
            background-color: #6e7f75;
            .fa-search{
              &::before{
                color:$white;
                font-size:$breadcrumb-font;
                display: inline;
              }
            }
          }
          input{
            background-color: #6e7f75;
            border: none;
            border-color:$primary;
            outline:0;
            &::placeholder{
              color:$medium-grey;
            }
          }
        }
      }
    }
    .login{
      @media screen and (max-width:$tablet-width) {
        display:none;
      }
      select{
        background-color: $secondry;
        height: 3.7rem;
        color: $white;
        border:1px solid $white;
        font-size:$navigation-font-basic;
      }
    }
  }
  #bottom-nav{
    margin-top:2.5rem;
    .navigation.navigation-main{
      nav{
        &:first-child{
         float:right;
        }
        ul{
          li.rel-level1{
            margin: 0 1rem;
            &.active{
              .navigation-title{
                a{
                  border-bottom: 4px solid $secondry;
                }
              }
            }
            &.submenu {
              &:hover a{
                  span{
                      color: $text-basic;
                  }
                }
              }
            .navigation-title{
              a{
                font-size:$navigation-font-basic;
                color:$white;
                border:none;
                padding:1.2rem 2.5rem  1.2rem 0rem;
                background-color: transparent;
                &:hover{
                  border-color:transparent;
                  border-bottom: 4px solid $secondry;
                  span{
                    color:$white !important;
                  }
                }
              }
            }
            &:last-child{
              margin-right:0;
              a{
                padding-right: 0;
              }
            }
            ul{
              width: 348px;
              left: 10.2rem;
              top: 5.7rem;
              border-radius: 6px;
              border-top-left-radius: 0;
              li.rel-level2{
                margin: 0;
                padding:0;
                &:hover{
                    background-color: transparent;
                    
                }
                a{
                  border-bottom: 1px solid $grey-black !important;
                  color:$black;
                  text-decoration: none;
                  font-size: $navigation-font-basic;
                  padding:.8rem;
                  
                  &:hover{
                    border-bottom: 1px solid $grey-black;
                    span{
                      color:$secondry !important;
                     
                    }
                  }
                }
              }
            }
          }
        }
      }
      .menu-mobile-navigate-wrapper{
        
        input[type=checkbox]:checked ~ .menu-humburger{
          display: none;
        }
        input[type=checkbox]:checked ~ .component-content nav >ul{
          display: block;
        }
        .menu-humburger{
          display:none;
          @media screen and (max-width:$tablet-width) {
            display:block;
            background-image: url('../images/menu-mobile.svg');
            height: 25px;
            width:25px;
            float: right;
          }
        }
        .menu-mobile-navigate{
          display: block;
          position: absolute;
          left: 23px;
          height: 25px;
          width: 25px;
          z-index: -1;
        }
        nav{
          ul{
            @media screen and (max-width:$tablet-width) {
              display:none;
            }
          }
        }
      }
    }
    .footer-search-bar{
      .search-bar{
        float:right;
        button{
          border:none;
          .fa-search{
            &:before{
              color:$white;
              font-size:$navigation-font-basic;
            }
          }
        }
      }
    }
  }
}