@import "../../abstracts/vars/headings";
@import "../../abstracts/vars/colors";

.course-listing{
    padding: 3rem 0;
    .course-listing-image{
        img{
            width: auto;
            max-width: 100%;
            border-radius: 16px;
        }
    }
    .course-listing-details{
        h6{
            font-size:$small;
            color:$grey;
            font-family: poppins-regular;
        }
        h5{
            font-size:$font-small;
            color:$black;
            font-family: poppins-bold;
        }
        p{
            font-size: $small;
            color:$black;
            font-family: poppins-regular;
        }   
        ul{
            gap:40px;
            li{
                font-size:$listing-font;
                color:$black;
                font-family: poppins-regular;
                padding-left: 3rem;
                position: relative;
                &:nth-child(1){
                    &:after{
                        content:"";
                        background-image: url('../../../images/campus.svg');
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &:nth-child(2){
                    &:after{
                        content:"";
                        background-image: url('../../../images/location.svg');
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}