// imort basic style 
@import "../../abstracts/vars";

.course-listing {
    padding: 3rem 0;
    @media screen and (max-width:$screen-md ) {
        padding: 3rem 1rem;
    }
    h5 {
        font-size: $font-small;
        color: $black;
        font-family: poppins-bold;
        margin-bottom: 1.5rem;
    }
    img{
        padding-top: 0.5rem;
        margin-right: 2rem;
    }
    a.view-details {
        float: right;
        text-transform: uppercase;
        padding: 1.3rem 1.6rem;
        border-radius: 5px;
        width: 16%;
        text-align: center;
        background-color: $secondry;
        height: 5rem;
        color: $white;
        border: 1px solid $white;
        font-size: $navigation-font-basic;
        font-family: 'poppins-regular';
        position: relative;
        margin-bottom:3rem;
        @media screen and (max-width:$screen-md ) {
            width:50%;
        }
        &:before{
            content: "";
            background-image: url(/_next/static/media/Arrow_white.2e219508.png);
            height: 25px;
            width: 25px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            right: 2rem;
            top: 0.5rem;
            rotate: 180deg;
        }
    }
    .sorting {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        @media screen and (max-width:$screen-md ) {
            justify-content: flex-start;
        }
        select {
            width: 35%;
            padding: 0.8rem;
            font-size: 12px;
            color: $grey;
            @media screen and (max-width:$screen-md ) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        .sorting-list {
            height: 40px;
            width: 40px;
            background-color: $grey;
            border-radius: 5px;
            padding-top: 9px;
            @media screen and (max-width:$screen-md ) {
                display: none;
            }
            span {
                height: 2px;
                width: 14px;
                background-color: #fff;
                margin: 4px 12px;
                display: block;
            }
        }
        .sorting-grid-view {
            height: 40px;
            width: 40px;
            background-color: $white;
            border: 1px solid $grey;
            border-radius: 5px;
            padding-top: 8px;
            @media screen and (max-width:$screen-md ) {
                display: none;
            }
            span {
                height: 15px;
                width: 14px;
                background-color: $grey;
                margin: 4px 12px;
                display: block;
                border-radius: 5px;
            }
        }
    }
    .course-listing-image {
        img {
            width: auto;
            max-width: 100%;
            border-radius: 16px;
        }
    }
    .course-listing-details {
        padding-left: 4rem;
        @media screen and (max-width:$screen-md ) {
            padding-left:1rem;
        }
        h6 {
            font-size: $small;
            color: $grey;
            font-family: poppins-regular;
            font-weight: 400;
            @media screen and (max-width:$screen-md ) {
                margin-top:2rem;
            }
        }
        h5 {
            font-size: $font-small;
            color: $black;
            font-family: poppins-bold;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: $small;
            color: $black;
            font-family: poppins-regular;
        }
        ul {
            gap: 40px;
            @media screen and (max-width:$screen-md ) {
               margin-bottom:3rem;
            }
            li {
                font-size: $listing-font;
                color: $black;
                font-family: poppins-regular;
                padding-left: 3rem;
                position: relative;
                &:nth-child(1) {
                    &:after {
                        content: "";
                        background-image: url("../../../images/campus.svg");
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &:nth-child(2) {
                    &:after {
                        content: "";
                        background-image: url("../../../images/location.svg");
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

