<?xml version="1.0" encoding="utf-8" ?>
<configuration
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/"
	xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch search:require="solr">
			<indexConfigurations>
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="CourseType" returnType="stringCollection" />
              <field fieldName="CourseCategory" returnType="stringCollection" />
						</fieldNames>
					</fieldMap>
					<fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
						<mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
							<fieldReader fieldTypeName="tag treelist" fieldReaderType="Sitecore.XA.Foundation.Search.FieldReaders.NameLookupListFieldReader, Sitecore.XA.Foundation.Search"/>
						</mapFieldByTypeName>
					</fieldReaders>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>