.search-bar-default{
    form{
      input{
        width: 100%; 
        background-color: transparent;
        border: 1px solid #fff;
      }
    }
    a:hover{
      background-color: transparent;
    }
  }