@import "../../abstracts/vars/media-screen";

#find-a-course{
    background-color: $light-grey;
    padding: 5rem 10rem;
    @media screen and (max-width:$screen-md ) {
        padding: 5rem 1rem;
    }
    h4{
        color:$black;
        margin-bottom:1.8rem;
    }
    input.form-control{
        font-size:$input-field;
        padding: 0.5rem;
        &::placeholder{
            color:$grey;
            font-size: 13px;
        }
        &:focus{
            border-color: $secondry;
            box-shadow: none;
        }
    }
    select.form-select{
        padding: 0.8rem;
        font-size: 12px;
        color:$grey;
        &:focus{
            border-color: $secondry;
            box-shadow: none;
        }
    }
    button, a{
        font-size: 14px;
        text-transform: uppercase;
        padding: .6rem 1.6rem;
        background-color: $secondry;
        border: 1px solid $secondry;
        border-radius: 3px;
        // ::before{
        //     background-image: url('../../../images/');
        // }
    }
}