/* SearchGroupHeading */
.sitecore-search-group-heading {
  box-sizing: border-box;
  padding-left: var(--sdc-spacing-s);
  font-size: 1.4em;
  margin: 0;
  border-bottom: 1px solid;
}

/* SuggestionGroupRoot */
.sitecore-suggestion-group-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* SuggestionGroupTrigger */
.sitecore-suggestion-group-trigger {
  cursor: pointer;
  padding: var(--sdc-spacing-s) var(--sdc-spacing-s);
}
.sitecore-suggestion-group-trigger[data-state="active"],
.sitecore-suggestion-group-trigger:focus,
.sitecore-suggestion-group-trigger:hover {
  outline: none;
  font-weight: bold;
  background: #fff;
}
a.sitecore-suggestion-group-trigger{
  font-size: 14px!important;
}
a.sitecore-suggestion-group-trigger:focus{
  background-color: transparent;
}