@import "../../abstracts/vars/";

ul, ol{
  padding-left: 0;
  margin-left: 0 !important;
  li{
    font-family: 'poppins-regular';
    font-size: $small !important;
    font-weight:400;
    line-height:22px;
  }
}
