@import "../../abstracts/vars/media-screen";

#loginForm{
    justify-content: space-between;
        .modal-content{
            border-radius: 20px;
        
        .modal-header{
            border-bottom:none;
            h5{
                color: $black;
                font-family: poppins-bold;
            }
        }
        .modal-body{
            form{
                input.form-control{
                    margin: 0.5rem 0;
                }
            }
        }
        .modal-footer{
            border-top:none;
            a.forget-password{
                color: $black;
                
            }
            button.login{
                background-color: $secondry;
                height: 3.7rem;
                color: $white;
                border:1px solid $white;
                font-size:$navigation-font-basic;
            }
        }
    }
}
