@import "../../abstracts/vars/";

.courselearningobjectives{
    h5{
        margin-bottom:2rem;
    }
    ul{
        li{
            font-size: $small;
            margin: 1.5rem 0;
            color:$black;
            font-family:poppins-regular;
            span{
                margin-right:1.5rem;
            }
        }
    }
}