
$small:14px;
$font-small:20px;
$font-normal:24px;
$font-medium:32px;
$font-big:40px;
$font-extrabig:56px;
//Navigation
$navigation-font-basic:16px;
$navigation-font-basic-submenu:14px;
//Tabs
$tab-font-header:16px;
//Accordion
$accordion-header:16px;
//Breadcrumb
$breadcrumb-font:16px;
// Link List
$link-list-title-font:15px;
// Footer 
$footer-heading:16px;
$footer-sub-menu:14px;
// Forms input
$input-field:16px;

// course-listing
$listing-font:12px;

