@import "./fontSizes";
/**
 * Headings
 *
 * Styleguide: Foundations.Typography.Headings
 */

body{
    font-size: $small;
    font-weight:400;
    line-height:22px;
}
title{
    font-size:$small;
    font-weight:400;
    line-height:24px;
}
p{
    font-size: $small;
}

h1{
    font-size:$font-extrabig;
    font-weight:700;
    line-height:56px;
}
h2{
    font-size:$font-extrabig;
    font-weight:700;
    line-height:56px;
}
h3{
    font-size:$font-big;
    font-weight:700;
    line-height:48px;
}
h4{
    font-size:$font-medium;
    font-weight:700;
    line-height:36px;
}
h5{
    font-size:$font-normal;
    font-weight:700;
    line-height:30px;
}


